.DS_Store
**/wandb/*
**/__pycache__/
**/dataSynWebGL/*

dataset/CFDArchive/**/videos/*
!dataset/CFDArchive/**.gitkeep

dataset/CFDArchive/**/parameters/*
!dataset/CFDArchive/**/parameters/.gitkeep

dataset/CFDArchive/**/parametersNorm/*
!dataset/CFDArchive/**/parametersNorm/.gitkeep

dataset/CFDArchive/**/statistics.json