.DS_Store
**/wandb/*
**/__pycache__/
**/dataSynWebGL/*
**/WebGLfluid/*

dataset/WebGLfluid/
inference/**/*.png
inference/*.csv
dataset/CFDArchive/**/videos/*
dataset/CFDArchive/**/parameters/*
dataset/CFDArchive/**/parametersNorm/*
dataset/CFDArchive/**/statistics.json

src/weights/*.pth
dataset/**/videos/*
dataset/**/parameters/*
dataset/**/paramtersNorm/*
dataset/**/statistics.json

touch dataset/CFDArchive.gitkeep
!dataset/CFDArchive.gitkeep