*.pyc
*.pyo
*.pyd
__py
**/__pycache__/
CODE_OF_CONDUCT.md
CONTRIBUTING.md
notebooks
CODE_OF_CONDUCT.md
CONTRIBUTING.md
LICENSE
linter.sh
Member.txt
README.md
setup.cfg
setup.py
app
assets
captures
weights
scripts
mobile_sam/utils/
mobile_sam/__init__.py
mobile_sam/automatic_mask_generator.py
mobile_sam/build_sam.py
mobile_sam/predictor.py
mobile_sam/modeling/__init__.py
mobile_sam/modeling/common.py
mobile_sam/modeling/image_encoder.py
mobile_sam/modeling/mask_decoder.py
mobile_sam/modeling/prompt_encoder.py
mobile_sam/modeling/tiny_vit.py
mobile_sam/modeling/tiny_vit_sam.py
mobile_sam/modeling/transformer.py
processed_data/
image.py
test.jpg
train.py
model/
wandb/